/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";

@import "wordcamp";

#github-banner {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 100;

  @extend .hidden-xs;
}

.main-container {
  padding-bottom: 40px;
}

.lang-switcher {
  text-align: right;
  padding-right: 40px;
  padding-top: 10px;

  .lang {
    &:before {
      content: ' | ';
    }

    &:first-child:before {
      content: '';
      display: none;
    }
  }
}
