/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */


// 146a7e

$brand-primary: #146a7e;

@import "bootstrap";

@import "wordcamp";

@import "admin";

@import "examples";

#github-banner {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index: 100;

  @extend .hidden-xs;
}

.main-container {
  padding-bottom: 40px;
}

.header-container {
  background: image-url('header-bg.png') 0 0 repeat-x;
  background-size: 4px 76px;

  padding: 13px 0;

  .inner-column {
    position: relative;
  }
}

.lang-switcher {
  position: absolute;
  right: 65px;
  top: -5px;

  text-align: right;

  .lang {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;

    .current-lang {
      color: #fff;
    }

    &:before {
      content: ' | ';
      color: #fff;
    }

    &:first-child:before {
      content: '';
      display: none;
    }
  }
}
